<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components :: head}"></head>
<body>
	<nav th:replace="~{components :: navigation}"></nav>
	<div class="container mt-3">
	</div>
	<script type="text/javascript">
		let divUsuarios = document.querySelector(".container")
		fetch("files/attributes.json").then(
			(response) => {
				response.json().then((dados) => {
					dados.attributes.map((attribute) => {
						divUsuarios.innerHTML += `
							<div class="mb-3">
							  	<div class="row g-0">
							    	<div class="col-md-4 d-flex justify-content-center">
							      		<img src="${attribute.symbol}" class="img-fluid rounded-start" alt="...">
							    	</div>
							    	<div class="col-md-8">
										<h5 class="card-title">${attribute.name}</h5>
							        	<p class="card-text">${attribute.description}</p>
							    	</div>
							  	</div>
							</div>`
					})
			})
		})
	</script>
</body>
</html>