<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components :: head('')}"></head>
<body>
	<nav th:replace="~{components :: navigation}"></nav>
	<div class="container">
		<div class="d-flex row justify-content-center align-items-center mt-3">
			<img class="col-12" alt="" src="images/logo.png">
		    <form class="row d-flex justify-content-center mt-3" action="/digimon" method="get">
		        <input class="col-8 me-2 rounded" type="text" name="name" th:placeholder="${message}"/>
		        <button class="col-3 btn btn-success" type="submit">Search</button>
		    </form>
	    </div>
	</div>
</body>
</html>